<div class="book_cover_image">
  <img src="<%= @book.thumbnail_img %>">
</div>
<div class="book_details">
  <div class="book_details_title">
    <%= @book.title %>
  </div>
  <div class="book_details_author">
    Author: <%= @book.author %>
  </div>
  <div class="book_details_genre">
    Genre: <%= @book.genre %>
  </div>
  <div class="book_details_description">
    Description:
    <p><%= @book.description %></p>
  </div>
  <div class="book_detaials_isbn_10">
    ISBN-13: <%= @book.isbn_10 %>
  </div>
</div>
