<header class="navbar">
  <% if user_signed_in? %>
    <div class="navbar__name">
      Hello, &nbsp;<%= current_user.first_name %>!
    </div>
    <div class="navbar__title">
      <%= link_to image_tag("/bookhaven_logo.png", alt: "bookhaven"), root_path %>
    </div>
    <div class="navbar__actions">
      <%= link_to "My Account",
                    edit_user_registration_path,
                    method: :get,
                    class: "btn btn--dark" %>
      <%= button_to "Sign out",
                    destroy_user_session_path,
                    method: :delete,
                    class: "btn btn--dark" %>
    </div>
  <% else %>
    <div class="navbar__title">
      <img src="/bookhaven_logo.png" alt="bookhaven" >
    </div>
    <%= link_to "Sign in",
                new_user_session_path,
                class: "btn btn--dark navbar__right" %>
  <% end %>
</header>